<div class="container">
    <div class="card m-3 reg-card">
        <h5 class="card-header">User Registration Form</h5>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registerform">
                <div class="form-content">
                    <div class="row">
                        <div class="col">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="col">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Mobile Number</label>
                            <input type="number" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"/>
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                                <div *ngIf="f.mobile.errors.pattern">Mobile Number must be a valid</div>
                            </div>
                        </div>
                        <div class="col">
                            <label>Email</label>
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Date of Birth</label>
                            <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                            </div>
                        </div>
                        <div class="col">
                            <label>Address</label>
                            <textarea class="form-control" formControlName="address" rows="1" cols="50" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                                <div *ngIf="f.address.errors.pattern">Address must be a valid</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>City</label>
                            <select formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                <option value="Select City">Select City</option>
                                <option *ngFor="let country of countryList" [value]="country">{{country}}</option>
                            </select>
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">city is required</div>
                            </div>
                        </div>
                        <div class="col">
                            <label>State</label>
                            <select formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                <option value="Select State">Select City</option>
                                <option *ngFor="let state of stateList" [value]="state">{{state}}</option>
                            </select>
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">state is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                            </div>
                        </div>
                        <div class="col">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary mr-1 register">Register</button>
                        <button class="btn btn-secondary reset" type="reset" (click)="onReset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
